
body{
    background-color: rgb(49, 74, 78);
}

.test1 {
    background-color: rgb(89, 124, 141);
    width: 1000px;
    height: 237px;
    margin: auto;
    width: 70%;
}


.test1 h3 {


    font-size: 35px;
    color: white;
    padding-left: 88px;
    padding-top: 79px;
}



.test1 span {
    font-size: 20px;
    color: white;
    padding-left: 124px;
    padding-top: 30px;

}


.test3 {

    background-color: rgb(159, 152, 167);

    height: 42px;
    padding-left: 6px;
    margin: auto;
    width: 70%;


}


.test3 pre {

    font-size: 19px;
    margin-top: -12px;
    padding-top: 15px;
    color: white;
}

.test4{
    color: white;
    height: 42px;
    padding-left: 6px;
    margin: auto;
    width: 70%;
}


.test4 span{
    font-size: x-large;
}

.test5{
    padding-top: 239px;
    padding-bottom: 5px;
    color: white;
    height: 113px;
    padding-left: 28px;
    margin: auto;
    width: 70%;

}


.leght{
    padding-left: 156px;
    width: 300px;
    height: 300px;
    
}


.background1{
    color: white;
    padding-left: 462px;
    width: 673px;
    height: 300px;
}

.img{
    background-image: url(../css/img/image.jpg);
    height: 250px;
    margin: 195px;

}

.leght1{
    height: 9px;
}

.background1 span{
    font-size: large;
}


.text1{
    color: white;
    padding-left: 537px;
    width: 242px;
    height: 300px;
}

.text1 sub{
    font-size: xx-large;
}


.text2{
    color: white;
    padding-left: 98px;
    width: 269px;
    height: 294px;
}

.text3{

    display: flex;
}


#barrner{

    background-image: url(../css/img/image.jpg);
    width: 874px;
    height: 155px;
    border: 1px solid black;
    background-size: cover;
    padding: 30px;
    margin-left: 175px;
    margin-left: 198px;
}


.barner-text{
    color: white;
}

